* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
}

.logo-name {
    font-size: 32px;
}

.logo-name:hover {
    color: #0044ff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

svg {
    cursor: pointer;
}

svg:hover {
    color: #0044ff;
    transition: 0.3s ease-in-out;
}
.navbar ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: #0044ff;
    transition: 0.3s ease-in-out;
}

.main-body {
    display: flex;
}

.details {
    width: 50%;
    margin: 90px 20px 0 40px;
}

span {
    color: #0044ff;
}

.details h1 {
    font-size: 90px;
    font-weight: 900;
}

.name {
    font-size: 26px;
    opacity: 0.60;
}

.details .more-det {
    font-size: 26px;
    opacity: 0.60;
    margin: 10px 0;
}

.details button {
    padding: 10px 16px;
    border-radius: 8px;
    margin: 20px 20px 0 0;
    font-size: 17px;
    cursor: pointer;
}

.images {
    height: 519px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 40px;
}

.images img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.get-button {
    background-color: #4272f7;
    color: #ffffff;
    border: none;
}

.get-button:hover {
    background-color: #0044ff;
    transition: 0.3s ease-in-out;
}

.browse-button {
    border: 1px solid #000000;
}

.browse-button:hover {
    transition: 0.3s ease-in-out;
    background-color: #000000;
    color:  #ffffff;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #5f3838cc, #ffffffff);
    position: absolute;
}

.c1 {
    top: 17%;
    left: 7%;
    z-index: -1;
}

.c2 {
    bottom: 1%;
    right: 1%;
    z-index: -1;
}

.c2:hover {
    cursor: pointer;
    background-color: yellow;
    transition: 0.9s ease-in-out;
}